/* Стили для изображения профиля */
.profile-image {
    width: 30px; /* Установите желаемый размер изображения */
    height: 30px;
    border-radius: 50%; /* Делает изображение круглым */
    margin-right: 10px; /* Добавляет отступ справа от изображения */
}

body { padding-top: 5rem; }
.starter-template { padding: 3rem 1.5rem; }
#logout{ display:none; }